<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        verbose="true">
    <testsuite name="SecureUPload Test Suite">
        <directory>tests</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>